ul.g_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.g_menu li {
    float: left;
}

ul.g_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.g_menu li a:hover:not(.active) {
    background-color: #111;
}

ul.g_menu .active {
    background-color: #4CAF50;
}